<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="app">

    <div class="dropdown">
        <div class="dropdown__btn">Click me!</div>
        <div class="dropdown__items">
            <div class="dropdown__item">Item</div>
            <div class="dropdown__item">Item</div>
            <div class="dropdown__item">Item</div>
        </div>
    </div>

</div>
<script src="/js/main.js"></script>
</body>
</html>