.breadcrumbs {
  min-height: 130px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;

  .ac-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.breadcrumbs__path {

  .breadcrumbs__item {
    color: #fff;
    font-size: 14px;
  }
}

.breadcrumbs__title {
  font-size: 22px;
}

.feedback-banner {

  &.mt {
    margin-top: 40px;
  }
}

.feedback-banner__main {
  flex-direction: column;
}

.feedback-banner__info {
  width: 100%;
  text-align: center;

  p {
    font-size: 16px;
  }

  .mobile-div {
    display: flex;
    flex-direction: column;
  }
}

.feedback-banner__bg {

  &:before {
    background: rgba(33,33,55, 0.65);
  }

  &:after {
    display: none;
  }
}

.feedback-banner__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.feedback-banner__form {
  width: 100%;
  margin-top: 20px;
  justify-content: center;

  .form {
    padding: 27px 20px 25px 20px;
  }

  .form__submit {
    margin-top: 20px;
    align-self: center;
  }
}


.blog-post {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 40px;
}
.blog-post__header {
  min-height: 390px;
}

.blog-post__description {
  font-size: 14px;
  padding: 35px 20px;
}

.blog-post__date {
  align-self: center;
  margin-top: 35px;
}

.blog-post-title {
  font-size: 24px;
  margin-top: 18px;
}

.blog-post__title {
  font-size: 22px;
  margin-top: 36px;
}

.blog-post__subtitle {
  margin-top: 23px;
  font-size: 20px;
  margin-bottom: 12px;
}

.blog-post__uploaded-image {
  margin-top: 26px;
}

.blog-post__footer {
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.blog-post__author {
  max-width: unset;
}

.blog-post__footer__rs {
  margin-top: 25px;
  flex-direction: column;
  align-items: flex-start;

  span {
    margin-bottom: 15px;
  }
}

.blog-post .faq {
  margin-top: 36px;
}

.faq {
  padding: 26px 20px;
}

.faq__title {
  font-size: 22px;
  margin-bottom: 15px;
}

.faq__text {
  font-size: 14px;
}

.faq__subtitle {
  font-size: 16px;
}

.faq__list {
  max-width: 100%;
  margin-top: 20px;

  ul {

    li {
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }
}

#app.mobile {

  .collections-section {
    width: 100%;
    box-sizing: border-box;
  }

  .section-slider .swiper {
    padding: unset !important;

    &:before, &:after {
      display: none;
    }
  }

  .room__photos-items {

    .swiper-slide {
      width: 100% !important;
    }

    &:after {
      display: none;
    }

    &:before {
      display: none;
    }
  }

  .room__overlay {
    display: none;
  }
}

.collections-section__container {
  padding-left: unset !important;
  padding-right: unset !important;
  margin: unset !important;
  max-width: unset !important;
  width: 100%;

  .mobile-rooms-slider {
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.room__btns {

  .btn--no-bg {
    margin-top: 10px;
  }
}

.section {
  margin-top: 40px;

  &.roomsSlider {

    .section__title {
      padding: 0 15px;
    }
  }
}

#app.mobile {
  .section-benefits {
    padding-top: 35px;
    padding-bottom: 40px;

    .section__card {
      max-width: unset;
    }

    .section__title {
      text-align: center;
    }

    .section-slider__navigation {
      display: none;
    }

    .swiper {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}

.room__photos {
  .room__photos-nav__prev {
    transform: translateX(0);
    margin-left: 20px;
  }
  .room__photos-nav__next {
    transform: translateX(0);
    margin-right: 20px;
  }
}
