// Sortable in home page
.first-screen__sortable--4 {

  .sortable__items {

    .col-md-6:nth-child(3),
    .col-md-6:nth-child(4) {
      margin-top: 15px;
    }
  }
}

.vacancy-card {
  position: relative;
  padding: 35px 32px 80px 32px;
}

.vacancy-card__btn {
  position: absolute;
  bottom: 0;
  left: 0;
}