// Sortable in home page
.first-screen__sortable--4 {
}

.first-screen {

  .first-screen__bg {
    height: 100vh;
    //width: 100%;
  }

  .first-screen__options {
    margin-top: 65px;
  }

  .first-screen__filters {
    .form-input {
      margin-bottom: 16px;
    }

    .first-screen__filters__btn {
      margin-top: 4px;
      font-size: 16px;
    }
  }

  .nav-menu {
    display: none;
  }

  .first-screen__filters--area,
  .first-screen__filters--cost {

    input {
      margin-bottom: 16px;
    }
  }

  .selling-text {
    margin-top: 30px;

    .paragraph {
      font-size: 16px;
    }

    h1 {
      font-size: 14px;
    }

    .page-title {
      font-size: 24px;
    }
  }

  .first-screen__ads-number {
    margin: 28px 45px 0 45px;
    width: calc(100% - 90px);
    box-sizing: border-box;
  }
}

.sortable {

  .sortable__items {

    .col-xs-12:not(:first-child) {
      display: none;
    }
  }
}

.sortable__item--selected {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sortable__selected-icon {
    display: inline-block;
    margin-left: 10px;
  }
}


// blog
.post {
  height: 230px !important;
  margin-bottom: 20px;
}

.post__title {
  font-size: 18px !important;
}

.articles-section__post-container {
  margin-bottom: -20px;
}

// Section
.section__title {
  font-size: 22px !important;
  margin-bottom: 20px;
}

// services section
.services-section {
  padding-top: 36px;
  padding-bottom: 36px;

  .section__title {
    text-align: center;
  }

  .service-card {

    &:before {
      top: unset !important;
      bottom: 0 !important;
      //box-shadow: 0 14px 24px 54px white !important;
    }
  }

  .services-section__container {
    margin: unset !important;
    padding: unset !important;
    margin-bottom: -20px;

    .col-md-12 {
      margin-bottom: 20px;
    }
  }

  .service-card__image {
    position: absolute;
    height: 100%;
  }
}

.service-card__main {
  margin-bottom: 0;
  margin-top: auto;
}

.service-card__name {
  font-size: 16px;
  margin-bottom: 12px;
}

.service-card__description {
  font-size: 14px;
}

.advantages {
  padding: 37px 0;
}

.advantages__row {

  .col-sm-12 {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.collections-section__more {
  margin-top: 20px;
  font-size: 18px;
}

.advantages__row {

}

.advantage__title {
  font-size: 60px;
}

.advantage__text {
  font-size: 22px;
}